{# episodeinfo.html.twig
TIM TIERNEY
	This file provides the template for displaying a details for a specific EPISODE
	in the database.  It sets up the table style, and then builds the html code
	for the table of information about the toy.
#}

{% include 'header.twig' %}
<style>
table, tr, th, td { border: 0px !important; }
td, th {padding: .4em;}
.id { text-align: center; }
.name { text-align: center; }
.price { text-align: right; }
</style>
{% if showresults %}

<table>
	<tr>
	<th class="attr">Show</th>
	<td class="value">{{results[0].title}}
	</tr>
	<tr>
	<th class="attr">Episode</th>
	<td class="value">{{results[0].title}}
	</tr>
	<tr>
	<th class="attr">airdate</th>
	<td class="value">{{results[0].airdate}}
	</tr>
</table>

{% endif %}

<br></br>

{% if maincastresults%}
<table>
	<tr>
	<td class="attr">ActorFirstname</td>
	<td class="attr">ActorLastname</td>
	<td class="attr">ActorRole</td>
	</tr>
	<tr>
	<td class="value">{{actor.fname}}</td>
	<td class="value">{{actor.lname}}</td>
	<td class="value">{{main_cast.role}}</td>
	</tr>

<table>
{% endif %}

{% if episodecastresults%}
<table>
	<tr>
	<td class="attr">ActorFirstname</td>
	<td class="attr">ActorLastname</td>
	<td class="attr">ActorRole</td>
	<td class="attr">ActorRole</td>
	</tr>
	<tr>
	<td class="value">{{actor.fname}}</td>
	<td class="value">{{actor.lname}}</td>
	<td class="value">{{main_cast.role}}</td>
	<td class="value">{{recurring_cast.role}}</td>
	</tr>

<table>

{% endif %}

{% include 'footer.twig' %}
